.main-color{
    color:$main-color
}
.sub-main-color{
    color:$sub-main-color
}
.gray-color{
    color:$gray-color
}
.orange-color{
    color:$orange-color
}
.background-white{
    background-color: $background-white ;
}
.add-button{
    position: fixed;
    bottom: 100px;
    left: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        background-image: linear-gradient($sub-main-color, $main-color);
        width: 25px;
        height: 25px;
        font-size: 20px;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}
.custome-input,
.custome-input[readonly]{
    width: 100% ;
    background: none  !important;
    border-color: $main-color !important;
    color: $main-color !important;
    box-shadow:none !important;
    font-size: 13px !important
}
textarea.custome-input{
    border-style: dashed !important;
}
.custome-input-bg-white{
    background: #fff !important;
}
.special-input{
    border-color: $main-color !important;
    color: $main-color !important;
    max-width: 100px;
    font-size: 18px;
    text-align: center
}
.main-button{
    background-color: $main-color;
    color: #fff;
    padding: 0.2rem 2rem;
    border-radius: 3px;
    border-color: $main-color;
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.main-button-green{
    background-color: #EEE !important;
    color: green;     
}
.main-button-accept{
    background: none;
    border:1px solid green;
    color: green;   
}
.main-button-refuse{
    background: none;
    border:1px solid red;
    color: red;   
}
.cancel-button{
    background-color: #EEE;
    color: $main-color;
    padding: 0.2rem 2rem;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.gray-btn{
    color: $main-color;
    padding: 4px 15px;
    border-radius: 20px;
    width: fit-content;
}
.tabs{
    .new-tab{
        color: $main-color;
        padding: 5px 25px;
        font-size: 13px;    
        border-radius: 20px;
        background-color: #FFF;
        transition: all .3s ease-in-out;
        &.active , &:hover{
            background-color: $main-color;
            color: #FFF;
        }
    }
}
.text-14{
    font-size:14px
}
.special-btn{
    background-color: #979797;
    color: #FFFF00;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    line-height: 1;
}
.special-btn-rad{
    border-radius: 3px;
}
.custome-form-control , .custome-form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: $main-color;
    color:$gray-color;
    font-size: 13px;
    padding: 0.375rem;
}
.Rate__star{
    padding: 0 !important;
}
.rate-card ul{
    color: $main-color;
    li{
        .text::before {
            content: "\2022";
            color: $main-color;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            font-size: 25px;
            padding-top: 2px;
          }
    }
}
.custome-radio{
    label{
        display: inline-block;
        position: relative;
        top: 2px;
        right: 20px;
    }
}
.support-card{
    border: 1px solid $main-color;
    border-radius: 3px;
}
.pop-up{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(5,5,5,0.5);
    .mo-pop{
        width: 90%;
        background-color: #fff;
        border: 1px solid $main-color;
        border-radius: 3px;
    }
}