$main-color:#4184CE;
$sub-main-color:#47CCDE;
$gray-color: #707070 ;
$orange-color: #D37A47;
$background-white: #F5F5F5 ;
$radius: 4px;
@import "./general.scss";
body {
    font-family: 'Vazirmatn', sans-serif;
    padding: 0 ;
    margin: 0 ;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    text-align: right;
    // overflow-x: hidden !important;
    direction: rtl ;
    min-height: 100vh;
}
header{
    background-image: linear-gradient($sub-main-color, $main-color);
    min-height: 30px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    .filter-box{
        position: relative;
        width: calc(100% - 80px);
        .form-control{
            border: 0 !important;
            // height: calc(1.5em + 0.5rem);
        }
        .custome-action-right,
        .custome-action-left{
            color: $sub-main-color !important;  
            background: #fff;
            border:0px !important; 
        }
        .custome-action-right{
            border-top-right-radius: 50px !important;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 50px !important;
            border-bottom-left-radius: 0px;
        }
        .custome-action-left{
            border-top-right-radius: 0px;
            border-top-left-radius: 50px !important;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 50px !important;
        }
    }
    .back-btn{
        background-color: #9AC3E8;
        border: 0;
        color: #fff;
        font-size: 20px;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}
.content-upload-image{
    width: 100%;
    height: calc(1.5em + 0.75rem + 10px);
    position: relative;
    .cancel-upload{
        position: absolute;
        top: 2px;
        left: 2px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.custome-nav{
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    .nav-link{
        color: $main-color;
        padding: 0.2rem 2rem;
        border-radius: $radius;
        &.active{
            background-color: $main-color;
            color: #fff;
        }
    }
    .nav-link-with-border{
        border:1px solid $main-color;
    }
}
.custome-btn-icon{
    background:none;
    border: none;
    padding: 0  ;
}
.orders{
    padding:8px 0;
    .order-card{
        .img-user{
            width: 50px;
            height: 50px;
            border-radius: 5px;
            img{
                border-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-data{
            margin-right: 15px;
        }
        .border-right-action{
            border-right: .1rem solid $main-color
        }
    }
    .details-card{
        overflow: hidden;
        .min-title{
            background-color: #4391D4;
            color: #fff;
            font-size:16px;
            padding: 10px;
            text-align: center;
            margin: 5px 0;
        }
        .title{
            cursor: pointer;
        }
        .card-shape{
            cursor: pointer;
            padding: 4px 0;
            background-image: linear-gradient(to right, $main-color, $sub-main-color);
        }
        .border-top,
        .border-bottom{
            border-color: #fff !important;
            border-width:.12rem !important;;
        }
        .border-top{
            width: 30%;
            margin: 0px auto;
        }
        .border-bottom{
            width: 15%;
            margin: 3px auto 0;
        }
        &.active{
            background-color: $background-white;
            .text-card{
                padding: 0px 15px;
            }
            .value-card{
                text-align: center;
                padding: 4px 15px;
                border-radius: 20px;
                background-color: #EEE;
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
    .msg-attachment{
        .img-user{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            img{
                border-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .cancel-button{
            border-radius: 20px;
            padding: 0.2rem 1rem;
        }
    }
}
.user-record{
    border: 1px solid $orange-color;
}
.user-visitor{
    border: 1px solid $sub-main-color;
}
/********************************** Start LOADER *****************************/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999999999999;
    direction: ltr;
}
.loading {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 8px solid $main-color;
    border-top: #ddd;
    margin: 0 auto;
    -webkit-animation: spin 2s infinite;
    animation: spin 2s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 8px solid $main-color;
        border-top: #ddd;
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 8px solid $main-color;
        border-top: #ddd;
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/************************************************* END LOADER *****************************************/